<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="=style.css">
    <script defer src="activePage.js"></script>
  <title>Business</title>

</head>

<body>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">NewsTick</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li >
                <a href="/">Home   </a>&nbsp &nbsp &nbsp
              </li>
              <li >
                <a href="/Sports">Sports   </a>&nbsp &nbsp &nbsp
              </li>
              <li >
                <a href="/Science">Science    </a>&nbsp &nbsp &nbsp
              </li>
              <li >
                <a href="/Entertainment">Entertainment    </a>&nbsp &nbsp &nbsp
              </li>
              <li>
                <a href="/Business">Business    </a>&nbsp &nbsp &nbsp
              </li>
              <li>
                <a href="/Technology">Technology  </a>&nbsp &nbsp &nbsp
              </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <h1>
    Business News for Today
  </h1>
  {% for news in cases.articles %}
  <div class="newsbox">
    <div class="img_div">
      <img src="{{news.urlToImage}}" alt="No Image Found" height="270m">
    </div>
    <div class="main_news">
      <h3>{{news.title}}</h3>
      <h6>Author: {{news.author}}</h6>
      <h6>Publiched At: {{news.publishedAt}}</h6>
      <p>{{news.description}}

      </p>
    </div>
  </div>

  {% endfor %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
    integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
    crossorigin="anonymous"></script>
</body>

</html>