body{
    background-image: url(background1.jpg);
    background-size: cover;
    color: azure;
}
.login{
    margin-top: 10%;
    text-align: center;
}
.register{
    margin-top: 10%;
    text-align: center;
}
.logreg{
    margin-top: 10%;
    text-align: center;

}
#msg2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aqua;
}
.reg
{
    color:white;
    background-color: black;
    text-decoration: none;
    cursor: default;
}
.news
{
    color: lightcoral;
    background-color: lavenderblush;
    text-decoration: none;
}
.ruf
{
    color: black;
    text-decoration: none;
}
head{
    background-color: darkcyan;
}
.pics
{
    background-image: url(background2.jpg);
}